

DB_HOST=127.0.0.1
DB_USERNAME=root
DB_PASSWORD=senha-mysql
DB_NAME=cad_merenda
SECRET = swfowksdefhewt89ew67gfrewiotr897tr79hgrt7fh*&()_789798
# DB_SYNC=f
DB_PORT=3306

JWT_SECRET= nbesdmfkjmn,dsbfjkdazh!kjfdshkjfcahskj.fhbdkjwsfkljsadc5645345663hgfjgfhdgh
# JWT_SECONDS_EXPIRE=72000

EMAIL_USER = 'noreply-cadmerenda@educ.al.gov.br'
EMAIL_PASSWORD = 'cadmerenda@educ'
OAUTH_CLIENTID = '281618666016-68uts7m2erjp75fu5qe837ba6ggffm44.apps.googleusercontent.com'
OAUTH_CLIENT_SECRET = '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'
OAUTH_REFRESH_TOKEN = '1//04I6wwvsVFDr7CgYIARAAGAQSNwF-L9Ir3OYw4eJgcSW480csN5gmX0cbe4cYL-jKdlSqI9es12Qla8wTmRRUtd65DlZuNECwFAA'

FRONTEND_URL = 'http://localhost:3000'

# PORT=3001
# URL_BD=http://localhost:3306
MAIL_HOST=
MAIL_PORT=
MAIL_SERVICE=
MAIL_USER=
MAIL_PASS=
MAIL_REPLY=

# FRONT_APP_URL=http://localhost:3000
# FRONT_APP_URL_ESTADO=http://localhost:3000

LOGO_TEMPLATE_EMAIL=

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:senha-mysql@localhost:3306/cad_merenda"